
imgs/all_ffis_cal_wget.sh

imgs/tess2019131073826-4-4-0016-s_ffic.fits
*.fits
*.hdf5
*.out
*.plist
*.pyc
*.dat
*.ipynb
*.txt
*.sh
LC/rade
imgs/oisdifference.c
oisdifference.c
*.csv
*.zip
*.dat
*.dat
BLS.dat
BLS.dat
*.dat
*.dat
*.png
*.pdf
